.container{
    // min-width: 1200px;
    min-height: 560px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .fullscreen{
        position: absolute;
        top: 40px;
        right: 20px;
        width: 30px;
        height: 30px;
        z-index: 999;
        text-align: center;
        line-height: 50px;;
        cursor: pointer;
        opacity: 0.3;
        transition: all .5s;
        img{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .fullscreen:hover{
        opacity: 1;
    }
    .row{
        display: flex;
        flex:1;
        // border:1px solid;
        .col1{
            flex: 1;
            // border: 1px solid white;
            padding: 10px;
        }

        .col2{
            flex: 2;
            // border: 1px solid white;
            padding: 10px;
        }
    }
}