.header{
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    color: #c6e5ff;
    position: relative;
    .left,.right{
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        bottom: 10px;
        color: #4c78b3;
    }
    .left{
        left: 30px;
    }
    .right{
        right: 30px;
    }
}